@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhaijaan 2', cursive;
    background-color: #fde68a;
}
.mainheading{
  background-color:#fca5a5;
  text-align: center;
  border-radius: 1rem;
  width: 100%;
}
.parentcontainer{
display: flex;
width: 100%;
}
.mainlogo{
  flex-grow:0.5;
}
.maincontainer{
  color: white;
  width: 100%;
  background-color: black;
  
}
.form{
  background-color: black;
  margin-top: 1rem;


}
.forminp{
  display: flex;
  flex-direction: row;
  background-color: black;
  /* justify-content: center; */
  justify-content: space-around;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

.iptfieldtask{
  width: 20rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
}
.iptfieldasignee{
  width: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
}
.iptfielddropdown{
  width: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
}
.iptfielddate{
  width: 10rem;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
   margin-top: 1rem; 
}
.submitbtn{
  background-color: #818cf8;
  width: 10rem ;
  padding: 0.5rem;
  border-radius: 1rem;
  display: block;
  margin: auto;
}
.opt{
  background-color: black;
  color: white;
}
.opcontainer{
  background-color: black;
}
.optitle{
  background-color: red;
  text-align: center;
  margin: 1rem 0rem 1rem 0rem;
}

.op{
  background-color: black;
}


.showasignee{
  width: 33%;
}
.showstatus{
  width: 33%;
}
.opheader{
  display: flex;
  background-color: black;
  width: 100%;
  justify-content: space-around
}

.taskcontent{
  background-color: black;
  display: flex;
  flex-direction: column;
}

.asigneecontent{
  background-color: black;
  display: flex;
  flex-direction: column; 
}
.statuscontent{
  background-color: black;
  display: flex;
  flex-direction: column; 
  
}
.statuscontent>h4,.asigneecontent>h4,.taskcontent>h4,.statuscontent>h3,.asigneecontent>h3,.taskcontent>h3{
  background-color: black;
}
.showButton{
  background-color: aquamarine;
  width: 4rem;
  border-radius: 1rem;
  margin-bottom: 1.5px
}
.hide{
  visibility: hidden;
}

.statuscontent>h4,.asigneecontent>h4,.taskcontent>h4{
  
  padding-bottom: 0.10rem;
  margin-bottom: 0.1rem;
}

li{
    background-color: black;
    list-style: none;
    padding-bottom: 0.10rem;
    margin-bottom: 0.1rem;
}
.blank{
height: 0.5rem;
background-color: black;
}

